<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Direcciones - CentralCine</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Enlaces a los archivos CSS de Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

        <!-- Enlace a tu archivo de estilos personalizados -->
        <link href="/css/estilos.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-grey bg-grey">
                <div class="container">
                    <a class="navbar-brand" href="/index.html">
                        <img src="/img/botonInicio.png" alt="Central Cine Logo" width="50">
                        Central Cine
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/pelicula">Cartelera</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/producto">Productos</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/direccion">Direcciones</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mt-4">
            <h1 class="titulo1">Listado de Direcciones</h1>
            <a href="/direccion/crear" class="btn btn-success">Agregar Nueva Dirección</a>
            <br><br>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Provincia</th>
                            <th>Distrito</th>
                            <th>Cantón</th>
                            <th>Ubicación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Utiliza la variable "direcciones" que se pasó desde el controlador para generar las filas de la tabla -->
                        <tr th:each="direccion : ${direcciones}">
                            <td th:text="${direccion.id_direccion}"></td>
                            <td th:text="${direccion.dir_provincia}"></td>
                            <td th:text="${direccion.dir_distrito}"></td>
                            <td th:text="${direccion.dir_canton}"></td>
                            <td th:text="${direccion.dir_ubicacion}"></td>
                            <td>
                                <a th:href="@{/direccion/editar/{id}(id=${direccion.id_direccion})}" class="btn btn-outline-primary btn-sm mx-1">Editar</a>
                                <a th:href="@{/direccion/eliminar/{id}(id=${direccion.id_direccion})}" class="btn btn-outline-danger btn-sm mx-1">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
<footer class="bg-dark text-light text-center py-3">
        <div class="container-fluid">
            <p>&copy; 2023 Central Cine. Todos los derechos reservados.</p>
        </div>
    </footer>
        <!-- Enlace al archivo JavaScript de Bootstrap (opcional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
