<!DOCTYPE html>
<html lang="es">
<head>
  <title>Movie Time</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Agrega los enlaces a los archivos CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  
  <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../static/css/estilos.css" type="text/css">

</head>

<body class="body-dividido"> <!-- Agrega la clase "body-dividido" aquí -->
  <header>
    <nav>
      <ul>
         <li><a href="/movies">Cine</a></li>

        <li><a href="#">Cartelera</a></li>
        
        <li><a href="#">Productos</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
        <li><a href="/direccion">Direcciones</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
  <div class="background-image">
    <h1 class="titulo2">Movie Time</h1>
  </div>
</div>

  <!-- Agrega el enlace al archivo JavaScript de Bootstrap (opcional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
