<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Productos - CentralCine</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Enlaces a los archivos CSS de Bootstrap y tu archivo de estilos personalizados -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-grey bg-grey">
                <div class="container">
                    <a class="navbar-brand" href="/index.html">
                        <img src="/img/botonInicio.png" alt="Central Cine Logo" width="50">
                        Central Cine
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="/pelicula">Cartelera</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/producto">Productos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/direccion">Direcciones</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section class="py-5">
            <div class="container">
                <h1 class="text-center mb-4">Productos</h1>
                <div class="text-center mb-4">
                    <a href="/producto/crear" class="btn btn-primary">Agregar nuevo producto</a>
                </div>
                <div class="row">
                    <!-- Iterar sobre la lista de productos para mostrar cada uno en su propia cuadrícula -->
                    <th:block th:each="producto : ${productos}">
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="/img/productos.jpg" class="card-img-top" alt="Producto">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${producto.pro_nombre}"></h5>
                                    <p class="card-text" th:text="'Inventario: ' + ${producto.pro_cantidad}"></p>
                                    <p class="card-text" th:text="'Precio: ' + ${producto.pro_precio}"></p>
                                    <div class="text-center">
                                        <a th:href="@{'/producto/editar/' + ${producto.id_producto}}" class="btn btn-outline-primary btn-sm mx-1">Editar</a>
                                        <a th:href="@{'/producto/eliminar/' + ${producto.id_producto}}" class="btn btn-outline-danger btn-sm mx-1">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>

                <!-- Aquí agregaremos la paginación -->
                <nav class="mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <!-- Agrega más elementos de paginación según el número de páginas que necesites -->
                    </ul>
                </nav>
            </div>
        </section>
<footer class="bg-dark text-light text-center py-3">
        <div class="container-fluid">
            <p>&copy; 2023 Central Cine. Todos los derechos reservados.</p>
        </div>
    </footer>
        <!-- Agrega el enlace al archivo JavaScript de Bootstrap (opcional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
